# vi:syntax=text

prefix=${HOME}/.npm-packages
progress=false
@octaive:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${TOKEN_OCTAIVE_GITHUB}
//registry.npmjs.org/:_authToken=${TOKEN_NPM}
